ol,ul{
    list-style:none;
}
*{
    margin:0;
    padding:0;
}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    }
#xxx{
    background:white;
    display: block;
  }
body{
    margin: 0px;
    overflow: hidden
  }
.actions{
    position: fixed;
    top: 0;
    left: 0;
    padding:20px;
  }
.actions svg{
    width:1.5em;
    height:1.5em;
    transition: all 0.3s;
    margin:0 ,20px;
  }
.actions svg.active{
    fill:red;
    transform: scale(1.2);
  }
.colors{
    position:fixed;
    top:60px;
    left:20px;
  }
.colors>li {
    width:20px;
    height:20px;
    box-shadow:0 0 3px rgbd(0,0,0,0.25);
    margin:10px 0;
    border-radius:50%;
    transition:all 0.3s;
  }
.colors>li.red {
    background:red;
}
.colors>li.green {
    background:green;
}
.colors>li.blue {
    background:blue;
}
.colors>li.active {
    box-shadow:0 0 3px rgbd(0,0,0,0.95);
    transform:scale(1.2);
  }
  .size{
    position:fixed;
    right:20px;
    top:5px;
  }
  .size >li{
      margin:15px 0;
  }
  .size >.thin{
    height:0;
    width:20px;
    border-top:3px solid black;
  }
  .size >.thick{
    height:0;
    width:20px;
    border-top:6px solid black;
  }